/* Stylizacja navbaru */
.navbar-dark {
  background-color: #333 !important; /* Ciemne tło dla navbaru */
}

.navbar-brand,
.nav-link {
  color: #ffffff !important; /* Biały tekst */
}

.navbar-nav .btn {
  color: #ffffff !important; /* Białe przyciski */
  border-color: #ffffff !important;
}

.navbar-nav .btn:hover {
  background-color: #ffffff !important; /* Kolor tła przycisku */
  color: #333 !important;
}

/* Przyciski */
.btn-outline-info {
  color: #ffffff !important;
  border-color: #17a2b8 !important;
}

.btn-outline-info:hover {
  background-color: #17a2b8 !important;
  color: white !important;
}

.btn-outline-success {
  color: #ffffff !important;
  border-color: #28a745 !important;
}

.btn-outline-success:hover {
  background-color: #28a745 !important;
  color: white !important;
}

.btn-outline-danger {
  color: #ffffff !important;
  border-color: #dc3545 !important;
}

.btn-outline-danger:hover {
  background-color: #dc3545 !important;
  color: white !important;
}
